# Environments
.env
.env.local
.env.*.local

# Virtual Environments
venv/
env/
__pycache__/
*.pyc

# Database
*.db
*.sqlite3

# Build Outputs
dist/
dist-ssr/
frontend/dist/

# Node modules
node_modules/
frontend/node_modules/

# OS Files
.DS_Store
